CLOCK_PERIOD=(7 8 9 10 11 12 13)
FP_CORE_UTIL=(33 35 48 40 41 42 43 44 45 46 47)

extra="
set ::env(DESIGN_NAME) baked_slicel
set ::env(PDK_VARIANT) sky130_fd_sc_hd
set design_root $::env(OPENLANE_ROOT)/designs
set src_root $design_root/250
set clb_root $design_root/250/clb_team
set clb_src $clb_root/src/behavioral
set ix_root $design_root/250/ix_yukio
set ix_src $ix_root/src
set nate_src $src_root/ix_nate/transmission_gate/from_inv
set nate_lef $nate_src/transmission_gate_cell.lef
set nate_gds $nate_src/transmission_gate_cell.gds
set kareem_src $clb_root/src/layout
set kareem_lef $kareem_src/mux4i/mux4i.lef
set kareem_gds $kareem_src/mux4i/mux4i.gds
set baked_src $src_root/src/baked
set config_src $src_root/config_team/src/behavioral
set ::env(VERILOG_FILES) [concat \
    $baked_src/baked_slicel.v \
    $clb_src/slicel.v \
    $clb_src/lut_sXX_softcode.v \
    $clb_src/carry_chain.v \
    $clb_src/mux_f_slice.v \
    $clb_src/lut.v \
    $clb_src/mux_predecoded.v \
    $clb_src/block_config_latches.v \
    $ix_src/transmission_gate_oneway.v \
    $ix_src/transmission_gate.v \
    $nate_src/../std/transmission_gate_cell.v \
    $kareem_src/mux4i/mux4i.v \
    [glob $config_src/*.v] \
    ]
set ::env(EXTRA_LEFS) [list $nate_lef $kareem_gds]
set ::env(EXTRA_GDS_FILES) [list $nate_gds $kareem_gds]
set ::env(CLOCK_PORT) "clk"
set ::env(CLOCK_NET) $::env(CLOCK_PORT)
set filename $::env(DESIGN_DIR)/$::env(PDK)_$::env(STD_CELL_LIBRARY)_config.tcl
if { [file exists $filename] == 1} {
	source $filename
}
set ::env(MACRO_PLACEMENT_CFG) $::env(DESIGN_DIR)/macro_placement.cfg
set ::env(SYNTH_STRATEGY) 1
set ::env(USE_ARC_ANTENNA_CHECK) 0
set ::env(SYNTH_READ_BLACKBOX_LIB) 1
set ::env(TRISTATE_BUFFER_MAP) $src_root/src/tbuf_map.v
set ::env(PL_TARGET_DENSITY) [ expr ($::env(FP_CORE_UTIL)+5) / 100.0 ]
set ::env(PDN_CFG) $::env(DESIGN_DIR)/pdn.tcl
set ::env(FP_PIN_ORDER_CFG) $::env(DESIGN_DIR)/pin_order.cfg
"
